<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h1>AWS UPLOAD</h1>

    <form id="uploadbanner" enctype="multipart/form-data" method="post" action="/upload">
       <input id="fileupload" name="file" type="file" /><br><br>
       <input type="submit" value="submit" id="submit" />
    </form>

</body>
</html>